name: Release

on:
    push:
        tags:
            - "v*.*.*"

permissions:
  contents: read
  id-token: write

jobs:
    Release:
        name: Release
        env:
            CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@master
            - uses: actions/setup-node@v6
              with: 
                check-latest: true
                registry-url: 'https://registry.npmjs.org'
            - name: Update NPM
              run: npm install -g npm@latest
            - name: Install
              run: npm install
            - name: Coverage
              run: npm run coverage
            - name: Upload
              run: npm run codecov
            - name: Build
              run: npm run build
            - name: Clean
              run: rm -rf docs&&rm -rf coverage
            - name: Publish
              run: npm -v && npm publish --provenance --access public
